h1{
    color: blue;
    text-align: center;
}

h2{
    color: brown;
    text-align: center;
    
}
.ab{
    color: rgb(189, 43, 226);
    
}

.abc{ 
    width: 10%;
    position: relative;
    left: 45%;

    
}
body img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;               
}
body{
    background-color: rgb(212, 0, 255);
    display: block;
    width: 100%;
    text-align: center;
}
p{
    font: 1em sans-serif;

}

.high{
    align-content: center;
}
div{
    align-content: center;
}
ol{
    list-style-type: none;
}