h1{
    color: blue;
    text-align: center;
}

h2{
    color: brown;
    text-align: center;
    
}
.ab{
    color: rgb(189, 43, 226);
    
}

.abc{ 
    height: 90px;
    float: left;
}
body{
    background-color: rgb(212, 0, 255);
}
p{
    font: 1em sans-serif;
    margin-left: 35%;
}

.high{
    align-content: center;
}
div{
    align-content: center;
}