h1{
    color: blue;
    text-align: center;
    margin-right: 40%;
}
h2{
    color: brown;
    margin-left: 15%;
}
.ab{
    color: rgb(189, 43, 226);
}.abc{ 
    height: 100px

}
body{
    background-color: rgb(212, 0, 255);
}
p{
    margin-left: 15%;
}
